<h3>Data Dispatcher Preview ({{ keyword }})</h3>

<div>
    <h4>Email config</h4>
    <div>
        {% include 'preview/data-table.html.twig' with { 'tableData': config } %}
    </div>
</div>

<div>
    <h4>Plain text body</h4>
    {% include 'preview/info-box.html.twig' with { 'info': plainText, 'preformatted': true } %}
</div>

<div>
    <h4>HTML body</h4>
    {% include 'preview/info-box.html.twig' with { 'info': htmlText } %}
</div>

<div>
    <h4>Processed data</h4>
    <div>
        {% include 'preview/data-table.html.twig' with {'tableData': data, 'tableKeyHeader': 'Field', 'tableValueHeader': 'Value'} %}
    </div>
</div>
